@tailwind base;
@tailwind components;
@tailwind utilities;

/**
 * 전역 스타일 정의 파일로, Tailwind CSS 설정과 라이트/다크 모드 테마 변수를 포함합니다.
 * @author 도형
 */

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  @font-face {
    font-family: "NotoSansKR";
    font-weight: 400;
    font-style: normal;
    src: url("/fonts/NotoSansKR-Regular.woff2") format("woff2");
  }

  @font-face {
    font-family: "NotoSansKR";
    font-weight: 500;
    font-style: normal;
    src: url("/fonts/NotoSansKR-Medium.woff2") format("woff2");
  }

  @font-face {
    font-family: "NotoSansKR";
    font-weight: 700;
    font-style: normal;
    src: url("/fonts/NotoSansKR-Bold.woff2") format("woff2");
  }

  @layer components {
    .card-dynamic-size {
      @apply absolute left-0 top-0 h-full w-full;
    }

    .card-front-back {
      @apply z-10 flex flex-col rounded-[8px] p-[18px] shadow-md;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
    }
  }

  @layer utilities {
    .rotate-y-180 {
      transform: rotateY(180deg);
    }
  }
}
